@using ViewModelApplication.Models.ViewModel;
@model ProductAddVM
@{
    ViewData["Title"] = "Create Product";
}

<h1 class="bg-info text-white">Create Product</h1>
<hr />
<div class="row">
    <div class="col-lg-8">
        <form asp-action="Create" asp-controller="Product" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-2">
                <label asp-for="@Model.Product.ProductID" class="form-control">Product ID</label>
                <input asp-for="@Model.Product.ProductID" class="form-control" />
                <span asp-validation-for="@Model.Product.ProductID" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="@Model.Product.ProductName" class="form-control">Product Name</label>
                <input asp-for="@Model.Product.ProductName" class="form-control" />
                <span asp-validation-for="@Model.Product.ProductName" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="@Model.Product.UnitPrice" class="form-control">Unit Price</label>
                <input asp-for="@Model.Product.UnitPrice" class="form-control" />
                <span asp-validation-for="@Model.Product.UnitPrice" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="@Model.Product.UnitsInStock" class="form-control">Units In Stock</label>
                <input asp-for="@Model.Product.UnitsInStock" class="form-control" />
                <span asp-validation-for="@Model.Product.UnitsInStock" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="@Model.Product.UnitsOnOrder" class="form-control">Units On Order</label>
                <input asp-for="@Model.Product.UnitsOnOrder" class="form-control" />
                <span asp-validation-for="@Model.Product.UnitsOnOrder" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="@Model.Product.ReorderLevel" class="form-control">Reorder Level</label>
                <input asp-for="@Model.Product.ReorderLevel" class="form-control" />
                <span asp-validation-for="@Model.Product.ReorderLevel" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="@Model.Product.Discontinued" class="form-control">Discontinued</label>
                <select asp-for="@Model.Product.Discontinued" class="form-control">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <span asp-validation-for="@Model.Product.Discontinued" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="@Model.Product.CategoryID" class="form-control">Categories</label>
                <select asp-for="@Model.Product.CategoryID" class="form-control">
                    <option>Please Select A Category...</option>
                    @foreach (Category item in Model.Categories)
                    {
                        <option value="@item.CategoryID">@item.CategoryName</option>
                    }
                </select>
                <span asp-validation-for="@Model.Product.CategoryID" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="@Model.Product.SupplierID" class="form-control">Suppliers</label>
                <select asp-for="@Model.Product.SupplierID" class="form-control">
                    <option>Please Select A Supplier...</option>
                    @foreach (Supplier item in Model.Suppliers)
                    {
                        <option value="@item.SupplierID">@item.CompanyName</option>
                    }
                </select>
                <span asp-validation-for="@Model.Product.SupplierID" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <input type="submit" value="Add New Product" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
